.App {
 margin: 2rem;
  
}

h1 {
  color : hsl(240, 45%, 50%);
  font-size: 6rem;
  padding: 10px;
}

h2 {
  font-size: 50px;
  color : hsl(240, 26%, 61%);

}


.App-link {
  color: #c02323;
}








