
.App {
  width: 100%;
  height: 100%;
}


.key-box {

  position: fixed;

 
  top: 5rem;
  right: 1rem;;
  z-index: 10;
  width: 30rem;
  height: 10rem;
  background: var(--nav-bg);
  color: #f3f0f0ff;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  
  font-size: 1.2rem;
  font-weight: bold;

  padding: 2rem;
  border-radius: 1rem;
}

.key {
 
  border: 2px solid #f3f0f0ff;
  border-radius: 0.75rem;
  width: 1rem;
  height: 1rem;

    color: #f3f0f0ff;

  padding: 0.5rem 1.3rem;
  margin: 0.1rem;
  min-height: 2rem;

  font-family: Jakarta, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.01em;

  
}

/* #000C66; */
.navbar {

  background: var(--nav-bg);
  text-align:center;
  padding: 0.1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  

  li {
      font-size: 2rem;
      display: inline;
  }

  a {
      color: var(--link-color);
      text-decoration: none;
      margin-right: 1rem;
      &:hover {
      
      text-decoration: underline;
      }
    }
}



.button-38 {
  
  background: var(--nav-bg);
  border: none;
  border-radius: 0.75rem;

  padding: 0.75rem 1.5rem;
  min-height: 3rem;

  font-family: Jakarta, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.01em;

  color: #ffffff;

  box-shadow:
    0 1px 2px rgba(0, 0, 0, 0.08),
    0 6px 16px rgba(0, 0, 0, 0.12);

  cursor: pointer;
  transition: all 0.15s ease;
  
}

/* .button-38::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
} */







.button-38-small {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-weight: 800;
  background: var(--nav-bg);
  border: none;
  border-radius: 0.75rem;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  min-height: 3rem;
  font-size: 1rem;
}









