html {
  
  margin: 0;
  height: 100vh;
  overflow: auto;


}

:root {

  --custom-black:  rgba(0, 0, 0, 0.85);
  --today-square: #45cdffff;
  
}


h1 {

  font-size: 4rem;
  color: var(--headers);
  padding: 10px;
}

h2 {
  font-size: 2.5rem;
   color: var(--headers);


}

h3 {
  padding: 1rem;
  font-size: 2rem;
  color: var(--headers);
}



@font-face  {
  font-family: 'Ronzino';
  src: url('/fonts/Ronzino/Ronzino-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face  {
  font-family: 'Manrope';
  src: url('/fonts/Manrope/Manrope-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face  {
  font-family: 'Jakarta';
  src: url('/fonts/Jakarta/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face  {
  font-family: 'Instrument';
  src: url('/fonts/Instrument/InstrumentSans_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face  {
  font-family: 'Spectral';
  src: url('/fonts/Spectral/Spectral-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  margin: 0;

  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: var(--ink-bg);
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;

}




pre {
  background-color: var(--code-clr);
  padding: 1rem;
  font-weight: bold;
  text-wrap: auto;
  border-radius: 8px;
  overflow-x: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


