html {
  
  margin: 0;
  height: 100vh;
  overflow: auto;


}

:root {
  --link-color: #d3d5e7ea;
  --custom-black:  rgba(0, 0, 0, 0.744);
  --custom-white: rgba(222, 224, 252, 0.9176470588);
  
}


h1 {
  color : #1c4c5d;
  font-size: 4rem;
  padding: 10px;
}

h2 {
  font-size: 2.5rem;
  color : #1c4c5d;

}

h3 {
  padding: 1rem;
  font-size: 2rem;
    color : #1c4c5d;
}



@font-face  {
  font-family: 'Ronzino';
  src: url('/fonts/Ronzino/Ronzino-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  margin: 0;

  font-family: 'Ronzino', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("/images/bitmap.png");
  background-size: cover;
  background-repeat: repeat;

  background-attachment: fixed;

}




pre {
  background-color: #6f97c8;
  padding: 1rem;
  font-weight: bold;
  text-wrap: auto;
  border-radius: 8px;
  overflow-x: auto;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


