$lb-mono-1: #1E5162;
$lb-mono-2: #296E85;
$lb-mono-3: #338BA8;
$lb-mono-4: #3686a0;


// Mixins 
@mixin left-triangle {
  
  left: 0;
  width: 0;
  height: 0;
  margin-bottom: 5px;
  border-top: 20px solid transparent;
  border-right: 40px solid var(--custom-black);
  border-bottom: 20px solid transparent;
 
  
 
}
@mixin right-triangle {
  right: 0;
  width: 0;
  height: 0;
  margin-bottom: 5px;
  border-top: 20px solid transparent;
  border-left: 40px solid var(--custom-black);
  border-bottom: 20px solid transparent;
  
 
}

.previous-triangle {
  @include left-triangle;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translate(-0.5rem) scale(1.2);
  }

}
.next-triangle {

  @include right-triangle;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translate(0.5rem) scale(1.2);
  }
  
}

.calendar-container {
  position: relative;
  padding: 3rem;

  
}

// Year Components

.year-month-container {

  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


.month-navigator {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    

}



  
  
  /* CSS for month-grid  component */
  
  .month-grid {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   position: relative;
  
   
   left: 0px;
   border-top: 3px groove $lb-mono-1;;
   
 
  }
  
  


  
  /* CSS for Square component  */

  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .calendar-square {
    position: relative;
    
    background-color: #3794b4;
    display: inline-block;
    text-align: center;
    height: 6rem;
    margin: 1.3rem;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
   
    
   
  }

  .calendar-square::after , .calendar-square::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    background-image: conic-gradient(
      from var(--angle),
    $lb-mono-1,
    #26687e,
    #348aa7,
    #154555ee,





    );
    translate: -50% -50%;
    z-index: -1;
    padding: 0.5rem;
    top: 50%;
    left: 50%;
    border-radius: 1.5rem;
   

   
  }

  .calendar-square::before {
  
   
    opacity: 0.5;
  
  }


 
  .calendar-square:hover::after {
    
    animation: spin 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

   
  }

 




 
  .months-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    justify-items: center;
    margin-bottom: 3rem;;
    color: var(--custom-black);
  

  }





  .month {
    font-size: 1.6rem;
    position: relative;
    font-weight: bold;
    color: lb-mono-2;
  

    &.active {
      
      color: $lb-mono-4;
      font-weight: bold;
      
      
    }
    
  }

  .month::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: $lb-mono-1;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  // Initially 
  .month::after {
    opacity: 1;
    transform: scale(0);
    // You can change this for other visual effects
    transform-origin: center;
  }
  // Show the element on hover and if user clicks it, it stays.
  .month:hover::after,
  .month.active::after {
    
    transform: scale(1);
    
  }
  .day-of-week-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    justify-items: center;
    margin-bottom: 0.5rem;
    color: $lb-mono-1;
    font-size: 1rem;
    font-weight: bold;
    
    

  }

  


  
  
  .day-number {
    position: absolute;
    left: 1rem;
    top: 10px;
    
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--custom-black);
  }

  
  
  
  .diary-entry-link {
    width: 1em;
    height: 1em;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
   
  }


// Media queries

@media (max-width: 1000px) {
  .months-container {
    display: grid;
 
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    margin-bottom: 3rem;

    color: var(--custom-black);
  

  }

  .month-grid {
    
      display: grid;
      grid-template-columns: repeat(auto-fit, 1fr);
      justify-content: center;
      justify-items: center;
      position: relative;
      
      left: 0px;
  
      

  }
  .calendar-square {
    width: 3%;
    height: 3%;
    padding: 1.2rem;
    margin: 0.7rem;
  }

  .day-number {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-weight: bold;
    font-size: 1.3rem;

  }


}

@media (min-width:1000px) and (max-width:1500px) {
 
    
  .months-container {

    grid-template-columns: repeat(6, 1fr);
    color: var(--custom-black);
  

  }

  .calendar-square {
    width: 30%;
    height: 30%;
    margin: 1.8rem;
    left: 0.3rem;
  }

 


}


//  Animations
  @keyframes spin{
    from {
      --angle: 0deg;;
    }
   
    to{
      --angle: 360deg;
    }
  }

  


