$lb-mono-1: #1E5162;
$lb-mono-2: #296E85;
$lb-mono-3: #338BA8;
$lb-mono-4: #3686a0;


// Mixins 
@mixin left-triangle {
  
 
 
  
 
}
@mixin right-triangle {
  
  
 
}

.previous-triangle {
  @include left-triangle;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translate(-0.5rem) scale(1.2);
  }

}
.next-triangle {

  @include right-triangle;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translate(0.5rem) scale(1.2);
  }
  
}

.calendar-container {
  position: relative;
  padding: 3rem;

  
}

// Year Components

.year-month-container {

  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


.month-navigator {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    

}



  
  
  /* CSS for month-grid  component */
  
  .month-grid {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   position: relative;
   width: 100%;
   
   left: 0px;
   border-top: 2px solid rgba(0, 0, 0, 0.08);
   
 
  }
  
  


  
  /* CSS for Square component  */

  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .calendar-square {
    position: relative;
    background: radial-gradient(circle at top left, #c0e2ed, #78bdd5);
    display: inline-block;
    text-align: center;
    height: 5rem;
    margin: 0 auto;
    margin: 1rem 2.5rem 1rem 2.5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 4px 5px, rgba(0, 0, 0, 0.23) 0px 1px 1px;
    transition: 0.1s ease-in-out
    
  
  }

  .calendar-square:hover {
  transform: translateY(-0.5px) scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px, rgba(0, 0, 0, 0.35) 0px 4px 8px;
}






  .active-square{ 

    background-color:  red !important;
  }


  

  .filled-square::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e1e1e1;
  }
  
    





 
  .months-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    justify-items: center;
    margin-bottom: 3rem;;
    color: var(--custom-black);
    margin-top: -2.2rem;
    
    padding: 1rem;
    
 

  

  }





  .month {
    font-size: 1.5rem;
    position: relative;
    font-weight: bold;
    color: lb-mono-2;
  

    &.active {
      
      color: $lb-mono-4;
      font-weight: bold;
      
      
    }
    
  }

  .month::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: $lb-mono-1;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  // Initially 
  .month::after {
    opacity: 1;
    transform: scale(0);
    // You can change this for other visual effects
    transform-origin: center;
  }
  // Show the element on hover and if user clicks it, it stays.
  .month:hover::after,
  .month.active::after {
    
    transform: scale(1);
    
  }
  .day-of-week-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    justify-items: center;
    margin-bottom: 0.5rem;
    color: $lb-mono-1;
    font-size: 1.2rem;
    font-weight: bold;
    
    

  }

  


  
  
  .day-number {
    position: absolute;
    left: 1rem;
    top: 10px;
    
    font-weight: bold;
    font-size: 1.6rem;
    color: var(--custom-black);
  }

  
  
  
  .diary-entry-link {
    width: 1em;
    height: 1em;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
   
  }


// Media queries

@media (max-width: 1000px) {
  .months-container {
    display: grid;
 
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    margin-bottom: 3rem;

    color: var(--custom-black);
  

  }

  .month-grid {
    
      display: grid;
      grid-template-columns: repeat(auto-fit, 1fr);
      justify-content: center;
      justify-items: center;
      position: relative;
      
      left: 0px;
  
      

  }
  .calendar-square {
    width: 3%;
    height: 3%;
    padding: 1.2rem;
    margin: 0.7rem;
  }



  .day-number {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-weight: bold;
    font-size: 1.3rem;

  }


}

@media (min-width:1000px) and (max-width:1500px) {
 
    
  .months-container {

    grid-template-columns: repeat(6, 1fr);
    color: var(--custom-black);
   
    
  

  }

  .calendar-square {
    width: 30%;
    height: 30%;
    margin: 1.8rem;
    left: 0.3rem;
  }

 


}


//  Animations
  @keyframes spin{
    from {
      --angle: 0deg;;
    }
   
    to{
      --angle: 360deg;
    }
  }

  


