$big: 1.5rem;
$base-text-color: hsl(240, 45%, 50%);
$gentle-blue-color:  rgb(108, 167, 243);
$dayBackground: rgb(158, 186, 158);

@mixin form-input {
  

  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid navy;  // Only a bottom border
  box-shadow: none;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus {
    border-color: #007BFF;
    outline: none;
    border-bottom: 1x solid #007BFF; // Bottom border changes color on focus
  }
}



form {
 
    display: flex;
    flex-direction: column;
    

    label {
      
      display: flex;
      gap: 1rem;
      align-items: center;
      color: $base-text-color;
      font-size: $big
    }

   
    

}


.submit-button {
   
   margin: 1rem;
   width: 10rem;
   height: 2rem;
   font-size: 1rem;
 
   border-radius: 0.5rem;
   border: 0.5px solid gray;

   background-color: $gentle-blue-color;
}


.day-title-input {
    @include form-input
  
  }

.day-content-input {
    @include form-input;
    height: 100px;
  
  }

.edit-day-box {
  position: relative;
  padding: 1.5rem;

  h1 {
    font-size: 3rem;
  }
}


.ql-toolbar {
  background-color: $gentle-blue-color;
  max-width: 70%;
  
}

.ql-container {
  background-color: rgba(255, 255, 255, 0.507);
  max-width: 70%;
  
}



