
$base-text-color: hsl(240, 45%, 50%);
$lb-mono-1: #1E5162;
$lb-mono-2: #296E85;
$lb-mono-3: #338BA8;
$lb-mono-4: #3686a0;

@mixin form-input {
  

  font-size: 1.8rem;
  background-color: transparent;
  color: var(--headers);
  width: 50%;
  border: none;
  border-bottom: 2px solid var(--headers);
  box-shadow: none;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus {
    border-color: var(--headers);
    outline: none;
    border-bottom: 3px solid var(--headers);
  }
}

.article-container {
  display: flex;

  align-items: center;
  flex-direction: column;
  width: 100%;
 
  overflow-x: auto;
  overflow-y: visible;



  padding: 1rem;

}
article {
 
   padding: 2.5rem 3rem;
            margin-top: -1rem;
            margin-bottom: 2rem;
            border-radius: 0.75rem;
            

            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.05);
          
             background: radial-gradient(circle at top left, #f5f9f9, #ffffff);
            word-wrap: break-word;
            width: 60%;
            transition: box-shadow 0.3s ease, transform 0.3s ease;

  
  
  h1,h2,h3,h4 {
    color: var(--headers);
    text-align: left;
    padding: 0;
   
  }
  p {
     color: #061013de;
    font-size: 1.2rem;
  }
  h1 {
    font-size: 3rem;
  }
  img {
    width: 40rem;
  }

  
}

  






form {
 
    display: flex;
    flex-direction: column;
    width: 60%;
    

    label {
      
      display: flex;
      gap: 1rem;
      align-items: center;
      color: $base-text-color;
      font-size: 1.5rem;
    }

   
    

}




.submit-button {
   
   margin: 1rem;
   width: 10rem;
   height: 2rem;
   font-size: 1rem;
 
   border-radius: 0.5rem;


}

.day-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  
}

.day-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.day-title {
  
  
   margin: 0;
  
}
.day-title-input {
    @include form-input
    
  
  }

.day-content-input {
    @include form-input;
    height: 10rem;
  
  }

.edit-day-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1.5rem;

  h3 {
    font-size: 2rem;
    padding: 0;
   
  }


}



.ql-toolbar {
  background-color: #4b97ba;
  

}



.ql-container {
  background-color: var(--custom-white);
  font-size: 1.5rem;
  

  
}

.ql-snow {
  border: 1px solid #2256679d !important;
}

.ql-table-better {

  width: 100% !important;
  overflow: hidden;
}

