.ql-table-button-disabled  {
    background-color: none !important;
    opacity: 0.4 !important;
}
.ql-toolbar.ql-snow {
   
    border-top-left-radius: 0.75rem !important;
    border-top-right-radius: 0.75rem !important;
    border-bottom: none !important;
  
 
}

.ql-container {
    border-bottom-left-radius: 0.75rem !important;
    border-bottom-right-radius: 0.75rem !important;
    border-top: none ;
    
  
  
}


.ql-editor {
    background: radial-gradient(circle at top left, #f5f9f9, #ffffff) !important;
    border-top: none !important;
    border-bottom-left-radius:  0.75rem !important;
    border-bottom-right-radius: 0.75rem !important;
  
 
}

.ql-cell-selected-after, .ql-cell-selected::after, .ql-cell-focused::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(21, 93, 157, 0.037);
}

td:hover {
    background-color: #1e51623f !important;
}

td {
    border: 1px solid #1e51623f !important;


    .ql-cell-selected-after, .ql-cell-selected::after, .ql-cell-focused::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(21, 93, 157, 0.037);
}
}

